# This file is a donensed form of pip freeze and was generated using pipdeptree
# and the following command. To remove versions, include the cut
# command portion:
#   pipdeptree --warn silence --local-only --freeze --depth 0 | cut -d "=" -f 1
#
# See more on its usage here:
#   https://github.com/tox-dev/pipdeptree?tab=readme-ov-file#usage
#
# The cut command removes the version from the output of pipdeptree. -d "="
# specifies "=" as the delimiter and -f 1 specifies that we only want the
# package name. An example parse would be:
#   connexion==3.1.0
#   --> cut -d "="
#   connexion,=3.1.0
#   --> -f 1
#   connexion
# See more here:
#   https://www.ibm.com/docs/sk/aix/7.1?topic=c-cut-command

# NOTE: Versions are included to ensure a working version of this project
connexion==2.14.1
# This version of Flask is required for connexion to work. By default,
# Flask==2.3.3 is installed so we force pip to use 2.2.2
Flask==2.2.2
flask-marshmallow==0.14.0
marshmallow-sqlalchemy==1.0.0
pipdeptree==2.22.0
setuptools==68.2.2
swagger-ui-bundle==0.0.9
